{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>Main Page</title>
</head>
<body>
    <div class="main_logo">
        <img src="{% static 'main/images/main_logo.png' %}" alt="Main page logo">
        <a class="menu_link" href="{% url 'menu:index' %}">see the menu</a>
    </div>
</body>
</html>